<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mshiep.food">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DangKyActivity"
            android:label="@string/title_activity_dang_ky"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:label="@string/title_activity_dang_nhap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AdminMain"
            android:label="Giao Diện Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QuanLyMonAn"
            android:label="@string/title_activity_quan_ly_mon_an"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.QuanLyKhachHang" />
        <activity
            android:name=".activity.MonAnActivity"
            android:label="@string/title_activity_mon_an"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ChiTietMonAnActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.QuanLyHoaDon" />
        <activity android:name=".activity.QuanLyThongKe" />
        <activity
            android:name=".activity.Information"
            android:label="@string/title_activity_information"></activity>
    </application>

</manifest>